* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(215, 215, 223);
}
/* HEADER / NAV BAR STYLES START */

header {
  padding: 25px 40px;
  background-color: rgb(32, 31, 31);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  color: rgb(32, 31, 31);
  border: 10px solid lightskyblue;
  border-left: 100px solid lightskyblue;
  border-right: 18px solid lightskyblue;
  background-color: lightskyblue;
  margin-left: -40px;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 25px;
  color: lightskyblue;
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */

.hero {
  background-image: url(../images/hero-image2.jpeg);
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero h2 {
  font-weight: bold;
  font-size: 36px;
  color: rgb(32, 31, 31);
  border: 10px solid lightskyblue;
  background-color: lightskyblue;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.hero img {
  width: 180px;
  height: 180px;
  border: 1px solid lightskyblue;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 60px;
}

/* HERO STYLES END */

/* BIO SECTION STYLES START */

.bio h2 {
  font-weight: bold;
  font-size: 36px;
  color: rgb(37, 32, 58);
  position: absolute;
  left: 130px;
  margin: 0;
  padding-left: 40px;
  text-align: right;
} 

.bio p {
  line-height: 1.7;
  color: rgb(37, 32, 58);
  width: 60%;
  font-size: 17px;
  border-left: 3px solid rgb(37, 32, 58);
  margin: 30px auto;
  padding-left: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

/* BIO SECTION STYLES END */

/* WORK SECTION STYLES START */

.work {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.work h2 {
  font-weight: bold;
  font-size: 36px;
  color: rgb(37, 32, 58);
  position: absolute;
  left: 160px;
  margin: 0;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.row {
  display: flex;
}

.col-sm-4 {
  width: 33.33%;
  padding: 5px;
}

.run-buddy img {
  border-left: 3px solid rgb(37, 32, 58);
}


  /*padding-left: 25px;
  position: relative;
  left: 288px;
  height: 300px;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.project-one img {
  position: relative;
  margin-left: 350px;
  height: 300px;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.project-two img {

}*/

/* WORK SECTION STYLES END */

/* CONTACT SECTION STYLES START */

.contact h2 {
  font-weight: bold;
  font-size: 36px;
  color: rgb(37, 32, 58);
  position: absolute;
  left: 133px;
  margin: 0;
  text-align: right;
  border-right: 3px solid rgb(37, 32, 58);
  padding-right: 20px;
}

.contact a {
  text-decoration: underline;
  color: rgb(37, 32, 58);
}

.contact nav ul li {
  display: inline;
}

.contact nav ul li a {
  margin: 0 30px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  float: right;
  padding-right: 85px;
  justify-content: space-between;
  padding-top: 25px;
}

/* CONTACT SECTION STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
}